html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  position: relative;
  background-color: #eae2d6;
  margin: 0;
}

* {
  position: relative;
  box-sizing: border-box;
}

h1 {
  margin: 3rem auto;
  text-align: center;
  font-family: sans-serif;
  color: #7f6b4d;
}

#board {
  height: 90vh;
  width: 90vh;
  margin: 2vh auto;
}

.row {
  height: calc(100% / 16);
  display: flex;
  border: 2px solid #eae2d6;
}

.col {
  background-color: #eae2d6;
  border: 2px solid #6e9a70;
  height: 100%;
  width: calc(100% / 16);
  border-radius: 0.35rem;
  text-align: center;
  font-size: 1.75rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col:nth-of-type(4),
.col:nth-of-type(8),
.col:nth-of-type(12) {
  border-right: 0.35rem solid #729a6e;
}

.row:nth-of-type(4) > .col,
.row:nth-of-type(8) > .col,
.row:nth-of-type(12) > .col {
  border-bottom: 0.35rem solid #729a6e;
}

footer {
  background-color: #40623d;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.125rem;
  font-family: sans-serif;
  color: #b5a997;
  padding: 0.35rem;
  width: 100vw;
}
